<div style="width:500px">
  <p-table [value]="selectedRecipes" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
          <th>Day</th>
            <th>Name</th>
            <th>Absolutely Not</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recipe>
        <tr>
            <td>{{recipe.day}}</td>
            <td>{{recipe.name}}</td>
            <td style="text-align: center;">
              <p-button icon="pi pi-times" (click)="testMethod(recipe.name)"></p-button>
            </td>
        </tr>
    </ng-template>
  </p-table>
  </div>